<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669606026374-tj10brtoa38gjmgcfco583p1rtoo7t2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669606026374-tj10brtoa38gjmgcfco583p1rtoo7t2p</string>
	<key>API_KEY</key>
	<string>AIzaSyBnpb2Mjl0IrK5n1VssM096cfcYmUWa3Xk</string>
	<key>GCM_SENDER_ID</key>
	<string>669606026374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myTor</string>
	<key>PROJECT_ID</key>
	<string>mytor-9fb44</string>
	<key>STORAGE_BUCKET</key>
	<string>mytor-9fb44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669606026374:ios:28eb278ce52d66f5e4c507</string>
</dict>
</plist>